.main {
    position: relative;
    height: 100%;
}
.left {
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #232323;
    -webkit-transition:left .5s ;
    transition:left .5s ;
}

.top {
    position: absolute;
    right:0;
    left: 200px;
    top: 0;
    -webkit-transition:width .5s , top .5s , left .5s;
    transition:width .5s , top .5s , left .5s;
}
.top .top-tool ,
.top .top-nav {
    width: 100%;
    height: 50px;
    background-color: #000;
}
.top .top-nav {
    background-color: #eee;
}
.container {
    float: left;
    position: absolute;
    left: 200px;
    top: 100px;
    right:0;
    bottom: 0;
    -webkit-transition:width .5s , top .5s , left .5s;
    transition:width .5s , top .5s , left .5s;
}

.container .mypage {
    width: 100%;
    height: 100%;
}

.slide-left-out {
    left:-152px;
}
.slide-left-out ul.first li i.menu-arrow {
    float: left;
}
.slide-left-out ul.first li i.menu-icon {
    float: right;
}


.slide-left-out ul.inner-menu li {
    padding:0 10px !important;
}
.slide-left-out ul.inner-menu  i.menu-icon {
    display: none;
}
.slide-left-out ul.inner-menu  i.menu-arrow {
    float: right !important;
}

.slide-left-out .logo i {
    background: #2dd07e;
    display: block !important;
}
.slide-top-out {
    top: -100px;
    left: 48px;
}
.zoom-container {
    top: 0px;
    left: 48px;
}

.left .logo {
    width: 100%;
    float: left;
    background:#2dd07e;
    position: relative;
    cursor: pointer;
}
.left .logo:hover .toggle-menu-icon {
    display: block;
}
.left .logo span {
    color: #fff;
    width: 100%;
    display: block;
    line-height: 50px;
    background:#2dd07e;
    text-align: center;
}

.left .logo .toggle-menu-icon {
    width: 48px;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    text-align: center;
    transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
}

.left .logo .toggle-menu-icon.open {
    transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
}

.left .menu {
    margin: 0;
    padding: 0;
    color: #dcdcdc ;
    float:left;
    width:100%;
    background: #232323;
}
.left ul.first {
	position: absolute;
    top: 50px;
    bottom: 0;
    max-height: 100%;
	overflow:hidden;
}

.left ul.first li {
    list-style: none;
    line-height: 48px;
    background-color: #434343;
}
.left ul.first li:hover {
    cursor: pointer;
}
.left .first ul li {
    background-color: #2e2e2e;
    float: left;
    width: 100%;
}

.left .menu li .box:hover {
    background: #000000;
}

.left .menu li i.menu-icon {
    width:48px;
    line-height:48px;
    text-align:center;
    font-size:20px;
    float:left;
}
.left ul.first li:hover i.menu-icon {
     -webkit-animation:IconRotate .5s forwards ;
     -moz-animation:IconRotate .5s forwards ;
     -o-animation:IconRotate .5s forwards ;
     animation:IconRotate .5s forwards ;
}

.left .menu li i.menu-arrow {
    color:#dcdcdc;
    right:0px;
    width:24px;
    line-height:48px;
    text-align:center;
    float:right;
}
.top .tab {
    width:130px;
    float:left;
    margin-left:5px;
    margin-top:15px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    background:#dcdcdc;
    padding:0 10px;
    text-align:center;
}
.top .tab span {
    width:88px;
    height:35px;
    line-height:35px;
    float:left;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.top .tab i {
    font-size:12px;
    margin-left:10px;
    float:right;
    margin-top:12px;
}
.top .tab:hover {
    cursor:pointer;
}
.top .tab.open {
    background:#f8f8f8;
}
.top .top-nav {
    position: relative;
}
.top .top-nav .tab-pre:hover ,
.top .top-nav i.tab-next:hover {
    cursor: pointer;
    color:#2dd07e;
}

.top .top-nav i.tab-pre ,
.top .top-nav i.tab-next {
    line-height: 50px;
    width: 30px;
    text-align: center;
    font-size: 18px;
    color: #999999;
}

.top .top-nav i.tab-pre {
     float: left;
     -webkit-transform:rotate(180deg);
     -moz-transform:rotate(180deg);
     -o-transform:rotate(180deg);
     transform:rotate(180deg);
 }
.top .top-nav i.tab-next {
    float: right;
}

.top .top-nav .tab-scroll {
    position: absolute;
    left: 30px;
    right: 30px;
    height: 100%;
    overflow: hidden;
}
.top .top-nav .tab-container {
    width: 0;
    float: left;
    height: 100%;
    padding-right: 5px;
}

.float-menu {
    position: fixed !important;
    color: #ffffff;
    padding-left: 10px;
    z-index: 1;
}

.float-arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid #232323;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    position: absolute;
    left: 0px;
    top: 15px;
}

.float-menu ul {
    background: #232323;
    border-radius: 4px;
    padding: 2px;
}
.float-menu ul li {
    width: auto !important;
    padding: 0 10px;
    line-height: 40px;
    float: none !important;
}
.float-menu ul li:hover {
    background: #434343;
    cursor: pointer;
}
.float-menu ul li i {
    float: right;
    font-size: 12px;
    margin-top: 19px;
    color: #ddd;
}
.float-menu ul li:hover i {
    color:#ffffff;
}
/****========帧动画=======****/
@-webkit-keyframes IconRotate  {
    from { -webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);}
    to   { -webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg);}
}
@-moz-keyframes IconRotate  {
    from { -webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);}
    to   { -webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg);}
}
@-o-keyframes IconRotate  {
    from { -webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);}
    to   { -webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg);}
}
@keyframes IconRotate  {
    from { -webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);}
    to   { -webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg);}
}